
    <div id="home" class="container">
        <div class="row">


            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 text-primary">User Interface</h1>

                </div>

                <div class="card">
                  <div class="card-title text-center pt-2 bg-primary rounded">
                    <h1 class="text-light">Welcome to your Admin page</h1>

                  </div>

                  <div class="card-body">Mr  </div>
                </div>
            </main>
        </div>
    </div>




